body, html {
    background-color: aqua;
    height: 100%;
    font-family: 'Numans', sans-serif;
    font-size: 1rem;
}

.card {
    height: 600px;
    width: 1100px;
    margin-top: 30px;
    margin-bottom: auto;

    background-color: #ffffff !important;
}
label {
    font-size: 0.8rem;
    color:GrayText;
}

