@using Padrao.Models;
<ul class="navbar-nav">

    <!-- SE O USUARIO NÃO ESTIVER LOGADO -->
    @{
        if (Publica.Logado)
        {

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-warning bg-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    @Publica.Login_Usuario
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#"> <span class="glyphicon glyphicon-user"></span> | Meus Dados</a></li>
                    <li><a class="dropdown-item" href="#"> <span class="glyphicon glyphicon-cog"></span> | Configurações</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <span class="glyphicon glyphicon-info-sign"></span> | Sobre</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning bg-black" asp-area="" asp-controller="home" asp-action="_Sair">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Sair
                </a>
            </li>

        }
        else
        {

            <li class="nav-item">
                <a class="nav-link text-warning bg-black" asp-area="" asp-controller="" asp-action="">
                    <span class="glyphicon glyphicon-plus"></span>
                    Registrar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning bg-black" asp-area="" asp-controller="home" asp-action="_Login">
                    <span class="glyphicon glyphicon-user"></span>
                    Logar
                </a>
            </li>

        }
    }

</ul>