@model Padrao.Models.Usuario;
<link rel="stylesheet" href="~/css/registrar.css" />
<br />
<br />

<div class="container">
   
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Registre-se</h3>
            </div>

            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <label class="text-white" for="lblNome">Nome Completo</label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                            </div>
                            <input type="text" asp-for="NomeCompleto" class="form-control"  autofocus placeholder="entre com seu nome">
                            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                                </div>
                                <input type="text" asp-for="NomeUsuario" class="form-control" autofocus placeholder="usuario">
                                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-envelope"></i></span>
                                </div>
                                <input type="text" asp-for="Email" class="form-control"  autofocus placeholder="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-phone"></i></span>
                                </div>
                                <input asp-for="Celular" id="idCelular" class="form-control">
                                <span asp-validation-for="Celular" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-asterisk"></i></span>
                                </div>
                                <input type="password" asp-for="Senha" class="form-control" placeholder="senha">
                                <div class="text-warning">
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="glyphicon glyphicon-asterisk"></i></span>
                                </div>
                                <input type="password" asp-for="ConfirmeSenha" class="form-control" placeholder="repete senha"><br />
                                <span asp-validation-for="ConfirmeSenha" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
   $(document).ready(function () {
        //  $('#idCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
        //  $('#idCNPJ').mask('00.000.000/0000-00', { placeholder: "__.___.___/____-__" });
        $('#idCelular').mask('(99) 99999-9999', { placeholder: "(99) 99999-9999"});
   });
</script>
