@{

}
<br />
<br />
<br />
<div class="d-flex justify-content-center h-100">

    <div class="card">
        <h5 class="card-header bg-warning">Parabéns, @Publica.Login_NomeCompleto</h5>
        <div class="card-body">
            <h5 class="card-title text-white">Mensagem</h5>
            <p class="card-text text-white">
                @Publica.Mensagem1
            </p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary btn-sm">Voltar</a>
        </div>
    </div>
</div>