@model Usuario;

<div class="container">
    <br />
    <br />
    <br />
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Recuperar Acesso</h3>
            </div>
            <hr />
            <div class="card-body">
                <form action="RecuperarAcesso" method="post">
                    <div class="form-row">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                            </div>
                            <input type="text" class="form-group" name="pUsuario" value="@ViewBag.pUsuario" placeholder="usuário" />

                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="card-text text-warning">
                            ou
                        </div>
                    </div>
                    <br />
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>
                        <input class="form-group" name="pEmail" value="@ViewBag.pEmail" placeholder="email" />
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="input-group-prepend">
                            <input type="submit" class="form-group btn btn-outline-warning btn-sm text-white" value="Recuperar Acesso" />
                            <hr/>
                            <a asp-action="AlterarSenha" asp-controlle="Home" class="btn btn-outline-danger btn-sm text-white">ALTERAR A SENHA</a> 
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div> <!--card-->
</div>
