@model Oficina7.Models.Usuario

<br />
<br />
<div class="jumbotron bg-danger p-4
">
    <h1 class="display-4 text-white">Recuperação de Acesso</h1>
    <p class="lead text-white">Os dados informados não foram encontrados.</p>
    <hr class="my-4 text-white">
    <p>Verifique e tente novamente</p>
</div>
