@model Padrao.Models.Usuario

<br />
<br />
<div class="jumbotron bg-light p-4
">
    <h1 class="display-4">Recuperação de Acesso</h1>
    <p class="lead">Recuperação realizada com sucesso.</p>
    <hr class="my-4">
    <p>Acesse o seu email e siga as instruções para ter acesso ao sistema.</p>
</div>
