@{
    
}
<br />
<br />
<br />
<div class="d-flex justify-content-center h-100">

    <div class="card">
        <h5 class="card-header bg-warning">Parabéns, @Publica.Login_NomeCompleto</h5>
        <div class="card-body">
            <h5 class="card-title text-white">Registro enviado com sucesso !</h5>
            <p class="card-text text-white">
                Em breve você receberá um email com todas as informações do acesso.
                Visite nossas redes sociais e baixe nosso aplicativo na GOOGLE PLAY
            </p>
            <p class="card-text text-white">
                Em aproximadamente 5 minutos, caso não encontre o email na caixa de entrada verifique a caixa de SPAM ou LIXO ELETRÔNICO
            </p>
            <a href="#"  class="btn btn-primary">Fazer Login</a>
        </div>
    </div>
</div>